# General
ENV=dev
LOG_LEVEL=INFO

# Databricks project
DATABRICKS_HOST=
DATABRICKS_TOKEN=
DATABRICKS_HTTP_PATH=
DATABRICKS_CATALOG=
DATABRICKS_SCHEMA=

# AWS project
AWS_REGION=eu-central-1
AWS_PROFILE=
S3_RAW_BUCKET=
S3_CURATED_BUCKET=
GLUE_DATABASE=
ATHENA_OUTPUT_S3=

# Orchestration / alerts
AIRFLOW__CORE__FERNET_KEY=
SLACK_WEBHOOK_URL=

# APIs
NBP_API_BASE_URL=https://api.nbp.pl/api
